﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="icon" href="~/images/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/brands.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="~/css/style.min.css" asp-append-version="true">

    <title>@ViewBag.Title</title>

    @if (Model is Piranha.Models.IMeta) {
        <partial name="Partial/_Meta.cshtml" />
    }

    @RenderSection("head", required: false)
</head>
<body class="animated fadeIn">

<header class="site-header">
    <div class="site-header__call">
        <a href="tel:+74732292393"></a>
    </div>
    <a href="/#" class="site-header__logo">
        <img src="~/images/logo-davinci.svg"/>
    </a>
    <div class="site-header__mobile-menu">
        <div id="mobile-menu-toggle">
            <input type="checkbox"/>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <partial name="Partial/_Menu.cshtml"/>

    <div class="site-header__contacts">
        <div class="contact-actions">
            <a class="contact-actions__signup" href="https://med.ax/BKcqu" target="_blank">Записаться на приём</a>
            <a id="show-modal-contact" class="contact-actions__contact" href="#modal-contact">Связь с дирекцией</a>
        </div>
    </div>
</header>

<partial name="Partial/_Modal.cshtml"/>

@RenderBody()

<a id="back-to-top"></a>
<partial name="Partial/_Footer"/>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
<script src="https://www.google.com/recaptcha/api.js?render=6LdSWv8UAAAAACBEVnSGHAlGJtOoONL5yvUaxCUU"></script>
<script src="~/js/animatedModal.min.js"></script>
<script src="~/js/index.js" asp-append-version="true"></script>

@RenderSection("script", required: false)
</body>
</html>