<div id="category-edit" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <!-- Header -->
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title"><i class="fas fa-tags"></i> Редактировать категорию</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Body -->
            <div class="modal-body bg-light">
                <form id="category-form" action="post" v-on:submit.prevent="save()" novalidate>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Название</label>
                                <input id="category-title" v-model="title" type="text" class="form-control autofocus" placeholder="Название" required>
                                <div class="invalid-feedback">
                                    Это обязательное поле
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Footer -->
            <div class="modal-footer">
                <button form="category-form" type="submit" class="btn btn-labeled btn-success">
                    <i class="fas fa-check"></i>Сохранить
                </button>
            </div>
        </div>
    </div>
</div>