<div id="doctor-edit" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <!-- Header -->
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title"><i class="fas fa-user-md"></i> Редактировать врача</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Body -->
            <div class="modal-body bg-light">
                <form id="doctor-form" action="post" v-on:submit.prevent="save(piranha.Doctors.load)" novalidate>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Полное имя</label>
                                <input id="doctor-name" v-model="name" type="text" class="form-control autofocus" placeholder="Полное имя" required>
                                <div class="invalid-feedback">
                                    Это обязательное поле
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Фото</label>
                                <input v-if="photo" :value="photoUrl" class="form-control" disabled="disabled">
                                <input v-else value="" class="form-control" disabled="disabled">
                            </div>
                            <div class="form-group">
                                <button v-on:click.prevent="selectPhoto" class="btn btn-primary text-center">
                                    <i class="fas fa-plus"></i> Выбрать фото
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Ссылка на страницу</label>
                                <input v-if="pageLink" :value="pageLink" class="form-control" disabled="disabled">
                                <input v-else value="" class="form-control" disabled="disabled">
                            </div>
                            <div class="form-group">
                                <button v-on:click.prevent="selectPageLink" class="btn btn-primary text-center">
                                    <i class="fas fa-plus"></i> Выбрать страницу
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>О враче</label>
                                <textarea v-model="about" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <!-- Footer -->
            <div class="modal-footer">
                <button v-if="!isNew" v-on:click.prevent="remove" class="btn btn-labeled btn-danger">
                    <i class="fas fa-trash"></i>Удалить
                </button>
                <button form="doctor-form" type="submit" class="btn btn-labeled btn-success">
                    <i class="fas fa-check"></i>Сохранить
                </button>
            </div>
        </div>
    </div>
</div>