<div id="product-edit" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <!-- Header -->
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title"><i class="fas fa-shopping-cart"></i> Редактировать продукт</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Body -->
            <div class="modal-body bg-light">
                <form id="product-form" action="post" v-on:submit.prevent="save()" novalidate>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Название</label>
                                <input id="product-title" v-model="title" type="text" class="form-control autofocus" placeholder="Название" required>
                                <div class="invalid-feedback">
                                    Это обязательное поле
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Цена</label>
                                <input id="product-price" v-model="price" type="number" class="form-control"/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>Минимальная цена</label>
                                <input id="product-minimum-price" v-model="minimumPrice" type="number" class="form-control"/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>Максимальная цена</label>
                                <input id="product-maximum-price" v-model="maximumPrice" type="number" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Описание</label>
                                <textarea v-model="description" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Категории</label>
                                <ul class="product-categories">
                                    <li v-for="category in categories" :key="category.id">
                                        <span class="product-categories__item">
                                            {{ category.title }}
                                            <a href="#" v-on:click.prevent="removeCategory(category.id)"><i class="fa fa-trash"></i></a>
                                        </span>
                                    </li>
                                    <li>
                                        <select class="form-control" v-on:input="addCategory">
                                            <option value=""> - </option>
                                            <option v-for="category in categoryCatalog" :key="category.id" :value="category.id">
                                                {{ category.title }}
                                            </option>
                                        </select>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Footer -->
            <div class="modal-footer">
                <button v-if="!isNew" v-on:click.prevent="remove" class="btn btn-labeled btn-danger">
                    <i class="fas fa-trash"></i>Удалить
                </button>
                <button form="product-form" type="submit" class="btn btn-labeled btn-success">
                    <i class="fas fa-check"></i>Сохранить
                </button>
            </div>
        </div>
    </div>
</div>