@model Davinci.Extensions.Blocks.DoctorBlock

@{
    string BackgroundImage(Davinci.Extensions.Blocks.DoctorBlock doctor) {
        return !string.IsNullOrEmpty(doctor.Photo) ? $"style=background-image:url({doctor.Photo.Value})" : "";
    }
}

<div class="doctor-card">
    <a href="/@Model.PageLink.Value" class="doctor-card__photo" @BackgroundImage(Model)></a>
    <div class="doctor-card__name">@Model.Name</div>
    <div class="doctor-card__description">@Model.About</div>
</div>
