@model Davinci.Extensions.Blocks.ProductBlock

<div class="product-block">
    <div class="product-block__title">@Model.Title</div>
    
    @if (Model.MinimumPrice.Value.Length > 0 && Model.MaximumPrice.Value.Length > 0)
    {
        <div class="product-block__price"> от @Model.MinimumPrice ₽ до @Model.MaximumPrice ₽</div>
    }
    else
    {
        if (Model.Price.Value.Length > 0)
        {
            <div class="product-block__price">@Model.Price ₽</div>
        }
        
        if (Model.MinimumPrice.Value.Length > 0)
        {
            <div class="product-block__price"> от @Model.MinimumPrice ₽</div>
        }
    
        if (Model.MaximumPrice.Value.Length > 0)
        {
            <div class="product-block__price">до @Model.MaximumPrice ₽</div>
        }
    }
</div>