@page "~/manager/categories"
@model Davinci.Areas.Manager.Pages.Categories

@{
    ViewBag.Title = "Категории";
    ViewBag.MenuItem = "Categories";
}

@* ReSharper disable once Razor.SectionNotResolved *@
@section script
{
    <script src="~/manager/js/components/category-item.js"></script>
    <script src="~/manager/js/app.categories.js"></script>
    <script src="~/manager/js/app.category-edit.js"></script>
}

<link rel="stylesheet" href="~/manager/css/categories.css">

<div id="categories">
    <div class="top">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Продукты</li>
                <li class="breadcrumb-item active" aria-current="page">Категории</li>
            </ol>
        </nav>

        <div class="container-fluid">
            <div class="top-nav">
                <button v-on:click.prevent="piranha.CategoryEdit.create(null, 0, load)" class="btn btn-primary btn-labeled">
                    <i class="fas fa-tags"></i>
                    Добавить категорию
                </button>
            </div>
        </div>
    </div>

    <div class="container-fluid app" :class="{ ready: !loading }">
        <div class="row">
            <div class="col">
                <div id="categories-list" class="dd">
                    <ol class="dd-list">
                        <category-item v-for="root in list" :key="root.id" :item="root" :parent="{id: null}"></category-item>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("Shared/_CategoryModal")