@page "~/manager/doctors"
@model Davinci.Areas.Manager.Pages.Doctors

@{
    ViewBag.Title = "Врачи";
    ViewBag.MenuItem = "Doctors";
}

@* ReSharper disable once Razor.SectionNotResolved *@
@section script
{
    <script src="~/manager/js/app.doctors.js"></script>
    <script src="~/manager/js/app.doctor-edit.js"></script>
}

<div id="doctors">
    <div class="top">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Врачи</li>
                <li class="breadcrumb-item active" aria-current="page">Список врачей</li>
            </ol>
        </nav>

        <div class="container-fluid">
            <div class="top-nav">
                <button class="btn btn-primary btn-labeled" v-on:click="piranha.DoctorEdit.create(load)">
                    <i class="fas fa-user-md"></i>
                    Добавить врача
                </button>
            </div>
        </div>
    </div>

    <div class="container-fluid app" :class="{ ready: !loading }">
        <div class="row">
            <div class="col">
                <div id="doctors-list">
                    <table class="table table-borderless">
                        <tbody>
                        <tr v-for="item in list" :key="item.id">
                            <td style="width: 10%"><img v-bind:src="item.photoUrl" height="50px" /></td>
                            <td style="width: 30%">
                                <a href="#" v-on:click.prevent="piranha.DoctorEdit.open(item.id, load)">
                                    <i class="fas fa-edit"></i> {{ item.name }}
                                </a><br/>
                                <a :href="item.pageLinkUrl" target="_blank">
                                    <i class="fas fa-external-link-alt"></i> Страница врача
                                </a>
                            </td>
                            <td>
                                {{ item.about }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("Shared/_DoctorModal")