@page "~/manager/products"
@model Davinci.Areas.Manager.Pages.Products

@{
    ViewBag.Title = "Продукты и услуги";
    ViewBag.MenuItem = "Products";
}

@* ReSharper disable once Razor.SectionNotResolved *@
@section script
{
    <script src="~/manager/js/app.products.js"></script>
    <script src="~/manager/js/app.product-edit.js"></script>
}

<link rel="stylesheet" href="~/manager/css/products.css">

<div id="products">
    <div class="top">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Продукты</li>
                <li class="breadcrumb-item active" aria-current="page">Список продуктов</li>
            </ol>
        </nav>

        <div class="container-fluid">
            <div class="top-nav">
                <button v-on:click.prevent="piranha.ProductEdit.create(load)" class="btn btn-primary btn-labeled">
                    <i class="fas fa-shopping-cart"></i>
                    Добавить продукт
                </button>
            </div>
        </div>
    </div>

    <div class="container-fluid app" :class="{ ready: !loading }">
        <div class="row">
            <div class="col">
                <ul class="filter-by-category">
                    <li><a href="#" v-on:click.prevent="load()" :class="{active : null == filter.categoryId}">Все</a></li>
                    <li v-for="category in categoryCatalog" :key="category.id">
                        <a href="#" v-on:click.prevent="load(category.id)" :class="{active : category.id == filter.categoryId}">
                            {{ category.title }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th>Название</th>
                        <th style="width: 100px">Цена</th>
                        <th style="width: 120px">Цена "от"</th>
                        <th style="width: 120px">Цена "до"</th>
                        <th style="width: 150px">Создано</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="item in list" v-bind:key="item.id">
                        <td><a href="" v-on:click.prevent="piranha.ProductEdit.open(item.id, load)">{{ item.title }}</a></td>
                        <td>{{ item.price | price }}</td>
                        <td>{{ item.minimumPrice | minimumPrice }}</td>
                        <td>{{ item.maximumPrice | maximumPrice }}</td>
                        <td>{{ item.createdAt | date }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("Shared/_ProductModal")
