@inject Davinci.Services.MedicalAidService MedicalAidService

@{
    var hierarchy = await MedicalAidService.GetAidHierarchy();
    var childs = new List<Piranha.Data.Page>();

    foreach (var (key, value) in hierarchy)
    {
        childs.AddRange(value);
    }
}

<footer class="site-footer">
    <div class="site-footer__title">© 2022 DaVinci - Искусство стоматологии</div>
    
    <div class="footer-services">
        @foreach (var child in childs)
        {
            <a href="/@child.Slug" class="footer-services__item">
                @child.Title
            </a>
        }
    </div>

    <div class="site-footer__social-links social-links">
        <ul>
            <li><a href="https://vk.com/club137762144" target="_blank"><i class="fab fa-vk"></i></a></li>
        </ul>
    </div>
</footer>