@inject Davinci.Services.MedicalAidService MedicalAidService

@{
    var sitemap = WebApp.Site.Sitemap;
    var hierarchy = await MedicalAidService.GetAidHierarchy();
    var aidRoot = await MedicalAidService.GetAidRoot();
}

<nav class="menu">
    <ul class="">
        @foreach (var item in sitemap)
        {
            <li class="menu__item @(item.Id == WebApp.PageId ? "menu__item_active" : "")">
                <a class="menu__link" href="@item.Permalink"><span>@item.MenuTitle</span></a>
            </li>
        }
    </ul>
</nav>

<nav class="mobile-menu">
    <ul class="">
        @foreach (var item in sitemap)
        {
            <li class="mobile-menu__item @(item.Id == WebApp.PageId ? "menu__item_active" : "")">
                @if (item.Id == aidRoot.Id)
                {
                    <a class="mobile-menu__link show-expand" href="#">@item.MenuTitle</a>
                    <ul class="mobile-menu__expand-menu">
                        <li class="mobile-menu__item">
                            <a class="mobile-menu__link hide-expand">Назад</a>
                        </li>
                        @foreach (var pair in hierarchy)
                        {
                            <li class="mobile-menu__item">
                                <a href="#" class="mobile-menu__link show-expand">@pair.Key.Title</a>
                                <ul class="mobile-menu__expand-menu">
                                    <li class="mobile-menu__item">
                                        <a class="mobile-menu__link hide-expand">Назад</a>
                                    </li>
                                    @foreach (var child in pair.Value)
                                    {
                                        <li class="mobile-menu__item">
                                            <a href="/@child.Slug" class="mobile-menu__link @(child.Id == WebApp.PageId ? "mobile-menu__link_active" : "")">
                                                @child.Title
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <a class="mobile-menu__link @(item.Id == WebApp.PageId ? "mobile-menu__link_active" : "")" href="@item.Permalink">@item.MenuTitle</a>
                }
            </li>
        }

        <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="https://prodoctorov.ru/voronezh/lpu/60821-davinchi" target="_blank">Записаться на приём</a>
        </li>
        <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="tel:+79518595522">Связь с дирекцией</a>
        </li>
    </ul>
</nav>
