<div class="modal" id="modal-contact">
    <div class="modal__container">
        <div class="modal__close-action close-modal-contact">
            <img src="~/images/btn-close.svg"/>
        </div>

        <form asp-controller="Contact" asp-action="Contact" class="modal-content">
            <h2>Связь с дирекцией</h2>

            <h3>В данном разделе вы можете описать своё обращение, предложение, жалобу и дирекция клиники обязательно примет меры, при необходимости свяжется с вами.</h3>
            <h3>
                Также Вы можете позвонить директору клиники напрямую по телефону
                <br>
                    <b>+7 920 461 77 22</b>
                </br>
            </h3>

            <div class="modal-content__line">
                <input type="text" name="name" placeholder="Ваше имя"/>
                <input type="text" name="phone" placeholder="Телефон"/>
            </div>
            <div class="modal-content__message">
                <textarea name="message" placeholder="Ваше обращение"></textarea>
            </div>

            <input type="hidden" id="recaptcha-token" name="recaptcha"/>

            <div class="modal-content__actions">
                <button type="submit" class="btn-submit">Отправить</button>
                <div class="modal-content__disclaimer">
                    Нажимая на кнопку «Отправить», я даю согласие на обработку персональных данных и соглашаюсь с
                    <a href="/Privacy" target="_blank">политикой конфиденциальности</a>.
                </div>
            </div>
            <div class="modal-content__line">
                <span class="google-privacy">
                This site is protected by reCAPTCHA and the Google
                <a href="https://policies.google.com/privacy">Privacy Policy</a> and
                <a href="https://policies.google.com/terms">Terms of Service</a> apply.
                </span>
            </div>
        </form>
    </div>
</div>