@import "vars-colors";
@import "vars-media";
@import "vars-default";
@import "base-visual-effects";

html {
    font: {
        family: 'Montserrat', sans-serif;
        size: 14px;
    }
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    margin: 0;

    h1 {
        font-size: 2.2rem;
    }
    
    h2 {
        font-size: 1.8rem;
    }
    
    h3 {
        font-size: 1.5rem;
    }
    
    h4 {
        font-size: 1.2rem;
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: lighter;
    }
}

.site-header {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    align-items: center;

    background: $header-background-color;
    background: radial-gradient(circle, rgba(245,245,245,1) 0%, rgba(214,214,214,1) 100%);

    &__logo {
        margin-left: 3%;
        cursor: pointer;

        img {
            width: 230px;
        }
    }

    &__call,
    &__mobile-menu {
        display: none;
    }
    
    &__contacts {
        margin-right: 5%;
    }
}

.contact-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    flex-grow: 1;
    flex-shrink: 0;
    
    &__signup {
        display: inline-block;

        text-decoration: none;
        text-align: center;
        word-break: keep-all;
        
        @include transition($transition-time);
        
        padding: 10px 20px;
        margin-right: 3px;
        border-radius: 4px;
        
        color: $header-font-color;

        &:hover {
            @include transition($transition-time);

            color: $popup-background-color;
            background-color: $interactive-signup;

            border: 2px $interactive-signup;
            cursor: pointer;
        }
    }

    &__contact {
        display: inline-block;

        text-decoration: none;
        text-align: center;
        word-break: keep-all;
        
        @include transition($transition-time);

        padding: 10px 20px;
        border-radius: 4px;
        
        color: $header-font-color;
        
        &:hover {
            @include transition($transition-time);

            color: $popup-background-color;
            background-color: $interactive-control;
   
            border: 2px $interactive-control;
            cursor: pointer;
        }
    }
}

.site-container {
    flex-grow: 5;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content {
    max-width: 1000px;
    width: 90%;

    line-height: 1.5;
    font-size: 1rem;
    color: $font-color;

    p {
        line-height: inherit;
        font-size: inherit;
        color: inherit;
    }

    ul {
        li {
            line-height: inherit;
            font-size: inherit;
            color: inherit;
            margin-bottom: 10px;
        }
    }

    .row {
        display: flex;
        flex-direction: row;

        .col-md {
            flex-grow: 1;
            width: 100%;
            padding-left: 15px;
        }
        
        .col-sm-10 {
            flex-grow: 1;
            width: 100%;
        }
    }
    
    .youtube-block {
        margin-bottom: 1rem;
    }
}

.site-footer {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    min-height: 50px;
    width: 100%;

    align-items: center;
    justify-content: start;

    background: $footer-background-color;
    background: radial-gradient(circle, rgb(255,255,255) 0%, rgb(214,214,214) 100%);
    
    &__title {
        margin: 20px 0 0 0;
        color: #545454;
    }
    
    .footer-services {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: 90%;
        
        margin: 20px 0 20px 0;
        
        &__item {
            text-decoration: none;
            text-align: center;
            flex-basis: calc(100% / 3);
            color: black;
            
            padding: 7px 0;
            
            &:hover {
                color: $interactive-control;
            }
        }
    }
}

.mobile-menu {
    display: none;
}

#mobile-menu-toggle {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 30;
    -webkit-user-select: none;
    user-select: none;

    span {
        display: flex;
        width: 29px;
        height: 2px;

        position: relative;
        z-index: 1;

        margin-bottom: 5px;

        background: #000000;
        border-radius: 3px;

        transform-origin: 20px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;

        &:first-child {
            transform-origin: 0% 0%;
        }

        &:nth-last-child(2) {
            transform-origin: 50% 100%;
        }
    }

    input {
        display: flex;
        width: 40px;
        height: 32px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 2;

        &:checked ~ span {
            opacity: 1;
            transform: rotate(45deg) translate(-3px, -1px);
            background: #36383F;

            &:nth-last-child(2) {
                transform: rotate(-45deg) translate(0, -1px);
            }

            &:nth-last-child(3) {
                opacity: 0;
                transform: rotate(0deg) scale(0.2, 0.2);
            }
        }
    }
}

.grecaptcha-badge { visibility: hidden; }