@mixin transition($transition-time) {
  -webkit-transition: all $transition-time ease-in;
  -ms-transition: all $transition-time ease-in;
  -moz-transition: all $transition-time ease-in;
  transition: all $transition-time ease-in;
}

@mixin scale($scale-factor) {
  -webkit-transform: scale($scale-factor);
  -ms-transform: scale($scale-factor);
  -moz-transform: scale($scale-factor);
  transform: scale($scale-factor);
}

@mixin grayscale($gray-factor) {
  -webkit-filter: grayscale($gray-factor);
  -moz-filter: grayscale($gray-factor);
  -ms-filter: grayscale($gray-factor);
  -o-filter: grayscale($gray-factor);
  filter: grayscale($gray-factor);
}