@import "vars-media";
@import "vars-colors";

@mixin site-header-mobile {
  justify-content: center;

  &__contacts,
  &__social-links {
    display: none;
  }

  &__logo {
    margin: 0;

    flex-grow: 1;
    text-align: center;

    padding: {
      top: 15px;
      bottom: 15px;
    };

    img {
      width: 120px;
    }
  }

  &__call {
    width: 22px;
    height: 22px;

    display: block;

    a {
      width: inherit;
      height: inherit;

      display: block;

      background: {
        size: cover;
        repeat: no-repeat;
        position: 50% 50%;
      }
    }

    margin-left: 15px;

    a {
      background-image: url("/images/phone.svg");
    }
  }

  &__mobile-menu {
    display: block;
    margin-right: 15px;
  }
}

@mixin site-footer-mobile {
  flex-grow: 1;
  justify-content: start;

  &__title {
    margin-top: 15px;
  }

  &__social-links {
    display: flex;
  }
}

@media #{$media-phone} {
  .site-header {
    @include site-header-mobile;
  }

  .site-footer {
    @include site-footer-mobile;

    .footer-services {
      display: none;
    }
  }
}

@media #{$media-tablet} {
  .site-header {
    @include site-header-mobile;
  }

  .site-footer {
    @include site-footer-mobile;

    .footer-services {
      display: flex;
    }
  }

  .content {
    min-width: 100px;
    padding: 0 10px 0 10px;
  }
}
