@import "vars-colors";
@import "vars-media";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

$nav-icon-font: 'Material Icons';
$nav-icon-arrow-right: 'chevron_right';
$nav-icon-arrow-left: 'chevron_left';

@mixin mobile-menu {
  .mobile-menu {
    display: block;

    position: fixed;
    width: 70%;
    height: 100vh;

    z-index: 20;

    top: 0;
    right: 0;
    margin: 0;

    box-shadow: 0 0 10px #85888C;

    background-color: $popup-background-color;

    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

    &_active {
      transform: translateX(20%);
    }

    ul {
      position: absolute;
      width: 100%;
      padding: 0;
      list-style-type: none;

      display: flex;
      flex-direction: column;

      font-size: 1rem;

      margin: 125px 50px 50px;
    }

    &__link {
      display: block;
      color: $header-font-color;
      padding: 15px 0px;
      text-decoration: none;
    }

    &__link {
      &_active {
        background-color: $popup-background-color;
        color: $interactive-control;

        &:hover {
          color: $interactive-control;
        }
      }
    }

    &__expand-menu {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
      
      transform: translateX(100%);
      transition: 0.3s;
      visibility: hidden;
      
      background-color: $popup-background-color;
      margin: 0!important;
      
      &_visible {
        transform: translateX(0);
        visibility: visible;
      }
    }

    .show-expand {
      display: flex;
      align-items: center;

      &::after {
        content: $nav-icon-arrow-right;
        margin-left: 1em;
        font-family: $nav-icon-font;
      }
      
      &:focus {
        outline: none;
      }
    }
    
    .hide-expand {
      display: flex;
      align-items: center;
      color: #656565;

      &::before {
        content: $nav-icon-arrow-left;
        margin-right: 1em;
        font-family: $nav-icon-font;
      }
    }
  }
}

@media #{$media-phone} {
  .menu {
    display: none;
  }

  @include mobile-menu;
  .mobile-menu {
    width: 105%;
  }
}

@media #{$media-phone-small} {
  .menu {
    display: none;
  }

  @include mobile-menu;
  .mobile-menu {
    width: 125%;
  }
}

@media #{$media-tablet} {
  .menu {
    display: none;
  }
  
  @include mobile-menu;
}