@import "vars-colors";
@import "vars-default";
@import "base-visual-effects";

$min-height: 600px;
$max-height: 800px;

.teasers {
  flex-grow: 0;

  min-height: $min-height;
  max-height: $max-height;
  
  display: flex;
  flex-direction: column;
  
  .teaser {
    flex-grow: 1;
    
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    
    min-height: $min-height;
    max-height: $max-height;

    background: {
      size: cover;
      repeat: no-repeat;
      position: 50% 50%;
    }
    
    &__subtitle,
    &__title {
      color: white;
      padding: 5px 20px;
      background: rgba(0, 0, 0, 0.6);
    }
    
    &__title {
      margin-top: 5px;
    }
    
    &__actions {
      text-align: center;
    }
    
    &__button {
      display: inline-block;
      text-decoration: none;
      
      @include transition($transition-time);
      
      border: 2px solid $interactive-control;
      border-radius: 4px;

      padding: 10px 20px;
      
      background-color: transparentize($interactive-control, 0.7);
      color: $popup-background-color;
      
      &:hover {
        @include transition($transition-time);

        background-color: $interactive-control;
        border-color: $interactive-control;
      }
    }
  }
}
