@import "vars-colors";
@import "vars-default";
@import "base-visual-effects";

.site-footer {
  &__social-links {
    ul {
      width: 100%;
      list-style-type: none;
      text-decoration: none;
      padding: 0;
    
      li {
        float: left;
        
        a {
          i {
            color: $header-font-color;
            font-size: 20px;
            margin: 0 15px 20px;
            
            @include transition($transition-time);

            opacity: 0.7;

            &:hover {
              @include transition($transition-time);

              opacity: 1;
            }
          }
        }
      }
    }
  }
}
