@import "vars-colors";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

$nav-icon-font: 'Material Icons';
$nav-icon-arrow-top: 'expand_less';

#back-to-top {
  display: inline-block;
  
  width: 50px;
  height: 50px;

  position: fixed;
  bottom: 30px;
  right: 30px;

  text-align: center;
  
  border: 2px solid $interactive-control;
  border-radius: 3px;

  color: $interactive-control;
  background-color: transparentize($interactive-control, 0.9);
  transition: background-color .3s, color .3s,
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  
  &::after {
    content: $nav-icon-arrow-top;
    font-family: $nav-icon-font;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
  }

  &:hover {
    transition: background-color .3s, color .3s,
    opacity .5s, visibility .5s;

    cursor: pointer;
    
    color: #FFFFFF;
    background-color: $interactive-control;
  }

  &:active {
    background-color: transparentize($interactive-control, 0.4);
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }
}