@import "vars-colors";
@import "vars-media";

@media #{$media-phone} {
  .modal {
    h2 {
      margin-bottom: 0;
    }
    
    .modal-content {
      width: 80%;
      min-width: 100px;

      &__line {
        display: flex;
        flex-direction: column;
        
        input {
          width: 100%;
          margin-top: 20px;
        }
      }
      
      &__actions {
        flex-direction: column;
      }

      &__disclaimer {
        padding: 10px 0 0 0;
      }
    }
  }
}