@import "vars-colors";
@import "vars-media";

.site-header {
  .menu {
    flex-grow: 1;
    flex-shrink: 0;
    margin-left: 3%;

    ul {
      list-style-type: none;
      overflow: hidden;
      font-size: 1rem;
      
      display: flex;
      flex-direction: row;
      
      padding: 0;
      margin: 0;
    }

    &__link {
      display: block;
      color: $header-font-color;
      padding: 42px 12px;
      text-decoration: none;
      transition: all 0.4s;

      &:hover {
        transition: all 0.4s;
        background-color: $interactive-control;
        opacity: 0.8;
        color: #ffffff;
      }
    }

    &__item {

      &_active {
        .menu__link {
          background-color: $interactive-control;
          color: #FFFFFF;

          &:hover {
            color: #FFFFFF;
          }
        }
      }
    }
  }
}