@import "vars-colors";

.modal {
  display: none;

  h2, h3 {
    text-align: center;
    word-break: keep-all;
    color: #545454;
  }

  &_initialized {
    display: block;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__close-action {
    padding: {
      top: 20px;
      bottom: 20px;
    }

    img {
      transition: all 0.2s;
      cursor: pointer;

      &:hover {
        transform: rotate(90deg);
      }
    }
  }

  .modal-content {
    width: 50%;
    min-width: 400px;

    &__line {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      input {
        border: 0;
        width: 45%;
        border-radius: 3px;
        padding: 8px 15px;
        box-sizing: border-box;

        font: {
          size: 1rem;
        }
      }
    }

    &__message {
      margin-top: 20px;

      textarea {
        border: 0;
        width: 100%;
        height: 10rem;
        border-radius: 3px;
        padding: 8px 10px;
        box-sizing: border-box;

        font: {
          family: 'Montserrat', sans-serif;
          size: 1rem;
        }
      }
    }

    &__actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding-top: 10px;
    }
    
    &__disclaimer {
      padding: 0 0 0 10px;
      color: #545454;
    }

    .btn-submit {
      display: inline-block;
      text-decoration: none;

      background: $interactive-control;
      color: white;

      padding: 10px 20px;
      border-radius: 4px;
      border: 0;
      font-size: 0.9rem;
      letter-spacing: 0.04rem;

      opacity: 0.9;

      &:disabled {
        background: $interactive-control-disabled;
        opacity: 1;
      }

      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
  }
  
  .google-privacy {
    font-size: 12px;
    margin-top: 10px;
    color: #808080;
  }
}