@import "vars-colors";

.product-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  width: 100%;
  margin-bottom: 10px;
  
  &__title {
    text-align: start;
    word-break: keep-all;
  }

  &__price {
    text-align: center;
    flex-shrink: 0;
    
    margin-left: 10px;
  }
}