@import "vars-default";
@import "base-visual-effects";

.doctor-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;

  text-align: center;
  word-break: keep-all;

  &__photo {
    display:flex;
    height: 200px;
    width: 200px;
    border-radius: 50%;

    @include transition($transition-time);
    @include grayscale(1);

    background: {
      size: cover;
      repeat: no-repeat;
    }

    &:hover {
      @include transition($transition-time);
      @include grayscale(0);

      cursor: pointer;
    }
  }

  &__name {
    margin-top: 10px;
    text-transform: uppercase;
  }

  &__description {
    text-align: center;
    width: 85%;
    margin-top: 10px;
    font-size: 0.8rem;
  }
}