@import "vars-colors";
@import "vars-media";
@import "block-doctor-card";
@import "block-product";

%menu-list {
  list-style-type: none;
  overflow: hidden;
  
  padding: 0;
  margin: 0;
}

.service-menu {
  width: 25%;
  padding-top: 40px;

  @extend %menu-list;
  
  ul {
    @extend %menu-list;
  }
  
  margin: {
    top: 2.5em;
    left: 10px;
    right: 20px;
  }

  &__link {
    display: block;
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    
    &:hover {
      color: $interactive-control;
    }
    
    &_active {
      background-color: $interactive-control;
      color: #FFFFFF;

      &:hover {
        color: #FFFFFF;
      }
    }
  }
  
  &__submenu {
    display: none;
    
    &_active {
      display: block;
    }
    
    li {
      margin-left: 20px;
    }
  }
}

.page-service {
  display: flex;
  flex-direction: row;
  flex-grow: 5;
  
  justify-content: center;
  
  padding-right: 40px;
  
  .row {
    display: flex;
    flex-direction: row;
    
    .col-md {
      padding: 0;
    }
  }
}

.doctors-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  
  margin-bottom: 1rem;
  
  .doctor-card {
    flex-basis: 30%;
  }
}

@media #{$media-tablet} {
  .service-menu {
    display: none;
  }
  
  .page-service {
    padding: 0;

    .row {
      flex-direction: column;
    }
  }
}

@media #{$media-phone} {
  .service-menu {
    display: none;
  }

  .page-service {
    padding: 0;
    
    .row {
      flex-direction: column;
    }
  }
  
  .doctors-list {
    .doctor-card {
      flex-basis: 100%;
    }
  }
}

@media #{$media-phone-small} {
  .service-menu {
    display: none;
  }

  .page-service {
    padding: 0;

    .row {
      flex-direction: column;
    }
  }

  .doctors-list {
    .doctor-card {
      flex-basis: 100%;
    }
  }
}