@import "vars-colors";
@import "vars-media";
@import "vars-default";
@import "base-visual-effects";

.doctor {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  flex-shrink: 0;
  
  &__photo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    overflow: hidden;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 1%;
    margin-right: 5%;
    
    background: {
      size: cover;
      repeat: no-repeat;
      position: 50% 50%;
    }
  }
  
  &__information {
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
    align-items: center;
    width: 60%;
    margin-top: 1%;
    margin-bottom: 1%;
    word-break: keep-all;
    line-height: 1.5;
    color: #676767;
  }
  
  &__name {
    width: 100%;
    text-align: left;
    font-size: 1.8rem;
  }
  
  &__description {
    width: 100%;
    text-align: justify;
    font-size: 1rem;
  }

  &__certificates {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  &__certificate {
    overflow: hidden;
    height: 170px;
    margin: 1%;
    
    @include transition($transition-time);
    
    background: {
      size: cover;
      repeat: no-repeat;
      position: 50% 50%;
    }

    &:hover {
      @include transition($transition-time);
      @include scale($scale-factor);

      cursor: pointer;
    }
  }
}

@media #{$media-tablet} {
  .doctor {
    &__photo {
      margin-top: 10px;
      margin-right: 0;
    }
    
    &__information {
      width: 80%;
    }
    
    &__name {
      text-align: center;
    }
  }
}

@media #{$media-phone} {
  .doctor {
    &__photo {
      margin-top: 10px;
      margin-right: 0;
    }
    
    &__information {
      width: 90%;
    }

    &__name {
      text-align: center;
    }
  }
}