@import "vars-colors";
@import "vars-media";
@import "block-doctor-card";

.doctors {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  
  .doctor-card {
    flex-basis: 30%;
  }
}

@media #{$media-tablet} {
  .doctors {
    justify-content: flex-start;

    .doctor-card {
      flex-basis: 50%;
    }
  }
}

@media #{$media-phone} {
  .doctors {
    justify-content: center;

    .doctor-card {
      flex-basis: 100%;
    }
  }
}