@import "vars-colors";
@import "vars-media";

$line-margin: 10px;

.contacts {
  display: flex;
  flex-direction: column;
  
  .description {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: center;

    margin: 0 0 2rem 0;
    padding: 0 0 .5rem 0;

    border: 1px solid #e6e6e6;
    border-radius: 0 0 5px 5px;
    
    &__titles {
      .title-item {
        margin-top: $line-margin;
        text-align: right;
      }
    }

    &__values {
      margin-left: 20px;

      .value-item {
        margin-top: $line-margin;
        color: black;
      }
    }
  }
  
  .map {
    margin: 0;

    width: 100%;
    height: 300px;

    background: antiquewhite;
    
    iframe {
      border: 0;
    }
  }
}
