@import "vars-colors";
@import "vars-media";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

$nav-icon-font: 'Material Icons';
$nav-icon-arrow-up: 'expand_less';
$nav-icon-arrow-down: 'expand_more';

@keyframes changeChevronDown {
  0% {
    opacity: 0;
    content: $nav-icon-arrow-down;
  }
  50% {
    opacity: 1;
  }
}

@keyframes changeChevronUp {
  0% {
    opacity: 0;
    content: $nav-icon-arrow-up;
  }
  50% {
    opacity: 1;
  }
}

.price {
  
  h2, h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-left: 5px;
    background: $footer-background-color;
    cursor: pointer;
    
    &::after {
      animation: changeChevronDown 2s linear alternate;
      
      content: $nav-icon-arrow-down;
      margin-left: 1em;
      font-family: $nav-icon-font;
    }
    
    &.expand {
      &::after {
        animation: changeChevronUp 2s linear alternate;
        
        content: $nav-icon-arrow-up;
        margin-left: 1em;
        font-family: $nav-icon-font;
      }
    }
  }
  
  table, tbody {
    width: 100%;
  }
}

.products {
  display: flex;
  
  tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    margin-bottom: 10px;
  }
  
  &__name {
    word-break: keep-all;
    
    padding-left: 5px;
  }
  
  &__cost {
    flex-shrink: 0;
    
    padding-right: 5px;
    margin-left: 10px;
  }
}