$header-background-color: #F0F0F0;
$header-font-color: #1C1C1C;
$header-link-color: #1C1C1C;
$header-link-hover-color: #37458D;

$footer-background-color: #F0F0F0;

$font-color: #676767;

$interactive-control: #37458D;
$interactive-control-disabled: #464648;

$interactive-signup: #00c000;

$popup-background-color: #F5F6FA;