$media-phone: "only screen and (max-width : 767px)";
$media-tablet: "only screen and (min-width : 768px) and (max-width: 970px)";
$media-screen-medium: "only screen and (min-width: 970px)";
$media-screen-large: "only screen and (min-width: 1170px)";
$media-iphone-x: "only screen and (min-width : 375px) and (max-width : 812px) and (-webkit-device-pixel-ratio : 3)";
$media-phone-small: "only screen and (max-width : 568px)";