@model ContactsPage
@inject IApi Api

@{
    ViewBag.Title = Model.Title;
}

<div class="site-container">
    <div class="content">
        <h1>@Model.Title</h1>
        <div class="contacts">
            <div class="map">
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4b0e083980d57c262bf4f7d64aef0b8fade00654e9c2023daa150e118df0b5be&amp;width=100%25&amp;height=300&amp;lang=ru_RU&amp;scroll=true"></script>
            </div>
            <div class="description">
                <div class="description__titles">
                    <div class="title-item">Адрес</div>
                    <div class="title-item">Почта</div>
                    <div class="title-item">Телефон</div>
                    <div class="title-item">Время работы</div>
                </div>
                <div class="description__values">
                    <div class="value-item">@Model.Contacts.Address</div>
                    <div class="value-item">@Model.Contacts.Email</div>
                    <div class="value-item">@Model.Contacts.Phone</div>
                    <div class="value-item">@Html.Raw(Model.Contacts.WorkTime)</div>
                </div>
            </div>
        </div>
    </div>
</div>
