@model DoctorPage

@section head
{
    <link rel="stylesheet" href="~/css/lightbox.min.css" />
}

@section script
{
    <script src="~/js/lightbox.min.js"></script>
}

<div class="site-container">
    <div class="doctor">
        <div class="doctor__photo"><img src="@Url.Content(@Model.Doctor.Photo)" height="300px"/></div>

        <div class="doctor__information">
            <div class="doctor__name">@Model.Doctor.Name</div>
            <div class="doctor__description">@Html.Raw(Model.Doctor.Description)</div>
            <div class="doctor__certificates">
                @foreach (var certificate in Model.Certificates)
                {
                    <a href="@Url.Content(certificate)" class="doctor__certificate" data-lightbox="gallery">
                        <img src="@Url.Content(certificate)" width="250px"/>
                    </a>
                }
            </div>
        </div>
    </div>
</div>
