@using Davinci.Extensions.Blocks
@model DoctorsPage
@inject IApi Api

@{
    ViewBag.Title = Model.Title;
}

<div class="site-container">
    <div class="content">
        <h1>@Model.Title</h1>

        @{
            var doctors = Model.Blocks.Where(m => m is DoctorBlock);
        }

        @if (doctors.Any())
        {
            <div class="doctors">
                @Html.DisplayFor(m => doctors)
            </div>
        }
    </div>
</div>