@model PricePage

@{
    ViewBag.Title = Model.Title;
}

@section script
{
    <script src="~/js/page-price.js"></script>
}

<div class="site-container">
    <div class="content">
        <h1>@Model.Title</h1>

        @Html.DisplayFor(m => m.Blocks)
        
        <div class="price">
            @foreach (var parent in Model.Categories.Childs)
            {
                @if (Model.Products.ContainsKey(parent.Current.Id))
                {
                    <h2 class="category-parent expand">@parent.Current.Title</h2>
                    @await Html.PartialAsync("Partial/Price/_Products", Model.Products[parent.Current.Id])
                }

                @if (parent.Childs.Any())
                {
                    @foreach (var child in parent.Childs)
                    {
                        @if (Model.Products.ContainsKey(child.Current.Id))
                        {
                            <h3 class="category-child expand">@child.Current.Title</h3>
                            @await Html.PartialAsync("Partial/Price/_Products", Model.Products[child.Current.Id])
                        }
                    }
                }
            }
        </div>
    </div>
</div>