@using Davinci.Extensions.Blocks
@model ServicePage
@inject Davinci.Services.MedicalAidService MedicalAidService

@{
    ViewBag.Title = Model.Title;

    var hierarchy = await MedicalAidService.GetAidHierarchy();
}

@section script
{
    <script src="~/js/page-service.js"></script>
}

<div class="page-service">
    <ul class="service-menu" id="service-menu">
        @foreach (var pair in hierarchy)
        {
            <li>
                <a href="#" class="service-menu__link">@pair.Key.Title</a>
                <ul class="service-menu__submenu">
                    @foreach (var child in pair.Value)
                    {
                        <li>
                            <a href="/@child.Slug" class="service-menu__link @(child.Id == WebApp.PageId ? "service-menu__link_active" : "")">
                                @child.Title
                            </a>
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>
    <div class="content">
        <h1>@Model.Title</h1>
        
        @{
            var products = Model.Blocks.Where(m => m is ProductBlock);
            var doctors = Model.Blocks.Where(m => m is DoctorBlock);

            var blocks = Model.Blocks
                .Except(products)
                .Except(doctors);
        }
        
        @Html.DisplayFor(m => blocks)

        @if (doctors.Any())
        {
            <h2>Наши специалисты</h2>
            <div class="doctors-list">
                @Html.DisplayFor(m => doctors)
            </div>
        }

        @if (products.Any())
        {
            <h2>Цены</h2>
            @Html.DisplayFor(m => products)            
        }
    </div>
</div>
