@using Davinci.Models.Regions
@model StartPage
@inject IApi Api

@{
    ViewBag.Title = Model.Title;
    
    string BackgroundImage(Teaser teaser) {
        if (teaser.Background.HasValue) {
            return $"style=background-image:url({Url.Content(teaser.Background)})";
        }
        return "";
    }
}

@section script
{
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/page-start.js"></script>
}

@if (Model.Teasers.Count > 0) {
    <div class="teasers">
        @foreach (var teaser in Model.Teasers)
        {
            <div class="teaser" @BackgroundImage(teaser)>
                <div class="teaser__body">
                    <span class="teaser__subtitle">@teaser.SubTitle</span>
                    <h3 class="teaser__title">@teaser.Title</h3>
                    @if (teaser.PageLink.HasValue)
                    {
                        <p class="teaser__actions">
                            <a href="@teaser.PageLink.Page.Permalink" class="teaser__button">Ознакомиться</a>
                        </p>
                    }
                </div>
            </div>
        }
    </div>
}
