body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.5;

    color: #676767;

    background: white;
}

.med-primary {
    display: none;
}

#med-widget-lenta-inner .comments {
    display: none;
}

.doctor-head {
    display: none;
}

#med-widget-lenta-inner .lentawidget {
    max-width: 100%;
    margin: 0 auto;
}

#med-widget-lenta-inner .loadmore {
    background-color: #FFFFFF;
}

.like-and-comments+.like-and-comments {
    display: none;
}

.tab-wrapper .sort {
    display: none;
}

.postblock {
    padding: 0;
    box-shadow: 0 0 0 0 hsla(0, 0%, 0%, 0.05)
}

.avtor-job {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
}

.tab_item__img {
    width: 100px;
    height: 100px;
    margin-bottom: 0px;
    overflow: hidden;
    border-radius: 50%;
}

.tab_item__img img {
    width: 100%;
    height: 100%;
}

.tab_item__text a{
    pointer-events: none;
}

.add-soc-icon span {
    display: none;
}

.wrapper-comments {
    margin-bottom: 30px;
    border-bottom:0px solid #eeeeee;
}

.wrapper-comments p {
    word-wrap: unset;
    word-break: keep-all;
    line-height: 1.5;
}

.like-and-comments__text {
    display: none;
}

.like-and-comments {
    border-top: 0 solid #f6f7f8;
    padding: 0;
}

.collaborators {
    border-top: 0px solid #f6f7f8;
    margin-top: 10px;
    padding-top: 0px;
}

.collaborators ul li {
    padding: unset;
}

.lenta_post_block_text {
    margin-bottom: 15px;
}

.review_comments_zone {
    display: none;
}

body .ui-widget {
    font-family: 'Montserrat', sans-serif;
}

body .ui-widget-overlay {
    background: #fff;
    opacity: 0.6;
}

body .ui-dialog {
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}

body .ui-dialog .ui-dialog-content {
    text-align: center;
}

body .ui-draggable .ui-dialog-titlebar {
    cursor: unset;
    pointer-events: none;
}

body .ui-widget-header {
    text-align: center;
    color: #676767;
    font-weight: lighter;
    font-size: 25px;
}

body .ui-dialog .ui-dialog-titlebar {
    padding: unset;
    position: relative;
}

body .ui-dialog .ui-dialog-titlebar-close {
    display: none;
}

body .ui-widget-content {
    border: 0px solid #aaaaaa;
    background: #ffffff;
    color: #676767;
}

.add-contant a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    transition: all .2s ease-in;
    border: 2px solid #0266a5;
    border-radius: 4px;
    padding: 10px 20px;
    background-color: rgba(2, 102, 165, 0.1);
    color: #0266a5;
}

.add-contant a:hover {
    background-color: #0266a5;
    color: #FFF5F6FA;
}

@media only screen and (max-width: 612px){
    html body {
        background-color: #ffffff;
        min-width: 300px;
    }

    .tab_item__img {
        width: 55px;
        height: 55px;
    }

    body .ui-dialog {
        box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
    }

    body .ui-dialog[role='dialog'] {
        width: 90% !important;
        position: fixed !important;
    }

    body .ui-dialog .ui-dialog-content {
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: center;
    }
}