.category-item {
    display: flex;
    background: #FFFFFF;
    margin-bottom: 2px;
}

.dd .handle {
    width: 2.4rem;
    padding: .75rem 0;
    flex-shrink: 0;
    border-right: solid 2px #f2f2f2;
    text-align: center;
}

.dd .link {
    padding: .75rem 1rem;
    flex-grow: 1;
    overflow: hidden;
}

.dd .actions {
    padding: .75rem 1rem
}

.dd .actions a {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
    border-radius: 50%;
    transition: background-color ease-in-out .15s,color ease-in-out .15s;
}

/* @todo Убрать хак*/
.dd-item > .dd-list {
    display: block;
}

.dd-list .dd-list {
    padding-left: 2.4rem;
}

.dd-dragel .handle {
    width: 2.4rem;
    padding: .75rem 0;
    flex-shrink: 0;
    border-right: solid 2px #f2f2f2;
    text-align: center;
}

.dd-dragel .link {
    padding: .75rem 1rem;
    flex-grow: 1;
    overflow: hidden;
}

.dd-dragel .actions {
    padding: .75rem 1rem
}

.dd-dragel .actions a {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
    border-radius: 50%;
    transition: background-color ease-in-out .15s,color ease-in-out .15s;
}