.filter-by-category {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding-left: 0;
}

.filter-by-category li a {
    font-size: 0.8rem;
    margin-right: 10px;
    margin-top: 10px;
    padding: 3px 10px;
    display: block;
    border-radius: 5px;
    background: #ffffff;
    text-decoration: none;
}

.filter-by-category li a:hover {
    background: #007eaa;
    color: #ffffff;
}

.filter-by-category li a.active {
    background: #007eaa;
    color: #ffffff;
}

.product-categories {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding-left: 0;
}

.product-categories li {
    margin-right: 10px;
    margin-top: 10px;
}

.product-categories__item {
    padding: 6px 20px;
    display: block;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background: #FFFFFF;
}