@model List<Davinci.Data.Models.Product>

<table class="products">
    @foreach (var product in Model)
    {
        <tr>
            <td class="products__name">@product.Title</td>

            @if (product.Price.HasValue)
            {
                <td class="products__cost">@product.Price ₽</td>
            }
            else
            {
                <td class="products__cost">
                    @(product.MinimumPrice.HasValue ? "от " + product.MinimumPrice + " ₽" : "")
                    @(product.MaximumPrice.HasValue ? "до " + product.MaximumPrice + " ₽" : "")
                </td>
            }
        </tr>
    }
</table>